PORT = 8080 # please dont ask what its for
MONGODB_URI = your_mongo_uri # required for fetching older messages (writing new ones as well) and login/register
JWT_SECRET = your_jwt_secret_key # required for login and register (can broadcast messages without logging in, btw)